<p><strong>repo.or.cz</strong> is a public <a href="http://git.or.cz">Git</a> hosting site.
You can create a project here and then publish your development by pushing
to it, or even enable push access for multiple developers.
Alternately, you can just set up a mirror of any project published elsewhere
and we will provide pull and gitweb access for the project.
<a href="/about.html">(read more, incl. terms&amp;conditions)</a></p>

<p><strong>This service is BETA.</strong>
The service is maintained by <a href="mailto:pasky@suse.cz">Petr Baudis</a>,
please contact him with any requests, proposals or issues.
See also <a href="http://git.or.cz/gitwiki/GitHosting">the list of other Git hosting sites</a>.</p>

<p align="center"><a href="/m/regproj.cgi">Register project</a> | <a href="/m/reguser.cgi">Register user</a> | <a href="/m/edituser.cgi">Update user SSH keys</a></p>

<div style="border:1px; align: center">
How to grab a project?  Simply <code>git clone git_URL</code>.
Then, repeat <code>git pull</code> to update to the latest verion.
See the crash courses at <a href="http://git.or.cz/">git.or.cz</a>
for more detailed introduction. You can find out the <code>git_URL</code>
for each project at the project's summary page.
</div>
